# Copy to .env and fill in. .env is excluded from redistributed archives.
# These values are read by the ReAct baseline and forwarded into an agent
# container by eval/run_eval.py.
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
MODEL_NAME=
